.post_container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid rgba(179, 177, 179, 1);
}

.post_image img {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 800px) {
	.post_container {
		padding-right: 1rem;
		border-bottom: none;
		grid-template-columns: 0.6fr 1.2fr;
		-webkit-box-shadow: var(--post-container-shadow);
		-moz-box-shadow: var(--post-container-shadow);
		box-shadow: var(--post-container-shadow);
	}
}

.post_title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post_featured-icon-container {
  margin-left: 1rem;
}

.post_featured-icon {
	width: 3rem;
	color: var(--featured-color);
	margin-left: -4px;
	border-radius: 50%;
	-webkit-box-shadow: var(--featured-shadow);
	-moz-box-shadow: var(--featured-shadow);
	box-shadow: var(--featured-shadow);
}

.post_title {
	text-decoration: none;
}

.post_title h2 {
	font-size: 1.7rem;
	color: black;
}

.post_info {
	margin: 0;
	color: rgb(136, 136, 136);
	font-size: 0.8rem;
}

.post_author {
	color: rgb(50, 50, 50);
	/* text-transform: capitalize; */
	font-weight: bold;
	text-decoration: none;
}
