.btn {
	width: 100%;
	min-width: 128px;
	/* display: block; */
	color: white;
	border: none;
	border-radius: 0.4rem;
	padding: 0.6rem 0;
	font-size: 1.15rem;
	/* font-weight: bold; */
	cursor: pointer;
	transition: 0.3s;
}

.btn-primary {
	background-color: rgb(47, 105, 230);
}

.btn-primary:hover {
	background-color: rgb(47, 105, 230, .8);
}

.btn-secondary {
	background-color: rgb(219, 68, 76);
}

.btn-secondary:hover {
	background-color: rgb(219, 68, 76, .8);
}

.btn-terciary {
	background-color: rgb(151, 68, 219);
}

.btn-terciary:hover {
	background-color: rgb(151, 68, 219, .8);
}
